.section {
  padding: 80px 16px;
  max-width: 1110px;
  margin-inline: auto;
}

.title {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -1.13636px;
  margin-block-end: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}

.name {
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-block-start: 20px;
  margin-block-end: 7px;
}

.stack {
  display: flex;
  gap: 18px;
  margin-block-end: 20px;
}

.tech {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section {
    padding-inline: 32px;
  }

  .title {
    font-size: 7.2rem;
    line-height: 7.2rem;
    letter-spacing: -2.04545px;
    margin-block-end: 60px;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 60px;
  }
}

@media screen and (min-width: 1110px) {
  .section {
    padding-inline: 0;
  }

  .title {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -2.5px;
    margin-block-end: 80px;
  }

  .container {
    column-gap: 30px;
    row-gap: 69px;
  }

  .overlay {
    position: relative;
  }
}
