.ring {
  position: absolute;
  pointer-events: none;
}

.ring[data-position='top'] {
  top: 120px;
  right: 100%;
  transform: translate(30vw);
}

.ring[data-position='middle'] {
  top: 1400px;
  left: 100%;
  transform: translate(-30vw);
}

.ring[data-position='bottom'] {
  top: calc(100% - 350px);
  right: 100%;
  transform: translate(40vw);
}

@media screen and (min-width: 500px) {
  .ring[data-position='middle'] {
    top: 1300px;
  }
}

@media screen and (min-width: 768px) {
  .ring[data-position='top'] {
    top: 75px;
  }

  .ring[data-position='middle'] {
    top: 1200px;
  }

  .ring[data-position='bottom'] {
    top: calc(100% - 280px);
  }
}

@media screen and (min-width: 1110px) {
  .ring[data-position='top'] {
    top: 98px;
    transform: translate(35vw);
  }

  .ring[data-position='bottom'] {
    top: calc(100% - 380px);
    transform: translate(35vw);
  }
}
