.section {
  position: relative;
  max-width: 1110px;
  margin-inline: auto;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.rings {
  position: absolute;
  top: 120px;
  right: 130%;
  transform: translate(50%);
  z-index: -1;
}

.circle {
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
}

.content {
  padding: 0 16px 16px;
}

.title {
  margin-block: 40px 24px;
  font-size: 4rem;
  letter-spacing: -1.13636px;
}

.underline {
  border-bottom: 4px solid var(--Green);
}

.subTitle {
  margin-block-end: 24px;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row-reverse;
    align-items: flex-end;
    text-align: left;
  }

  .rings {
    right: 100%;
    top: 75px;
  }

  .section picture {
    min-width: 322px;
  }

  .img {
    width: 322px;
    height: 598.14px;
  }

  .content {
    padding-inline: 32px 0;
  }

  .title {
    width: 110%;
    margin-block: 0 60px;
    font-size: 7.2rem;
    line-height: 8.2rem;
    letter-spacing: -2.04545px;
  }

  .spanBlock {
    display: block;
  }

  .underline {
    border-bottom-width: 6px;
  }

  .subTitle {
    margin-block-end: 34px;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

@media screen and (min-width: 1110px) {
  .section {
    align-items: center;
    overflow: initial;
  }

  .rings {
    top: 98px;
  }

  .circle {
    left: 60%;
    top: 70%;
  }

  .section picture {
    min-width: 445px;
  }

  .img {
    width: 445px;
    height: 720px;
  }

  .content {
    padding-left: 0px;
  }

  .spanBlock {
    display: initial;
  }

  .title {
    width: 116%;
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -2.5px;
  }

  .subTitle {
    width: 65%;
  }
}
