:root {
  /* COLORS */

  --Green: hsl(153, 71%, 59%);

  --Black: hsl(0, 0%, 8%);

  --DarkGrey: hsl(0, 0%, 14%);

  --Grey: hsl(0, 0%, 85%);

  --White: hsl(0, 0%, 100%);

  --Invalid: hsla(7, 100%, 68%, 1);

  /* TYPOGRAPHY */

  --FF-Primary: 'Space Grotesk';
  --FW-Heading: 700;

  --FS-Heading-XL: 8.8rem;
  --FL-Heading-XL: 8.8rem;
  --LS-Heading-XL: -2.5px;

  --FS-Heading-L: 4.8rem;
  --FL-Heading-L: 5.6rem;
  --LS-Heading-L: -1.5px;

  --FS-Heading-M: 2.4rem;
  --FL-Heading-M: 3.2rem;

  --FS-Body-L: 1.8rem;
  --FW-Body-L: 500;
  --FL-Body-L: 2.8rem;
}

@supports (accent-color: auto) {
  :root {
    accent-color: var(--Green);
  }
}

:focus-visible {
  outline: none;
}

@supports selector(::selection) {
  ::selection {
    background-color: var(--Green);
  }
}

@supports selector(::marker) {
  ::marker {
    color: var(--Green);
  }
}

:is(
  ::-webkit-calendar-picker-indicator,
  ::-webkit-clear-button,
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button
) {
  color: var(--Green);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: var(--FS-Body-L);
  font-weight: var(--FW-Body-L);
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--Grey);
  background-color: var(--Black);
}

@supports (text-size-adjust: none) {
  body {
    text-size-adjust: none;
  }
}

footer {
  background-color: var(--DarkGrey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--White);
  font-weight: var(--FW-Heading);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}
